@charset "UTF-8";

/*----------------------------------------
	reset
----------------------------------------*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header, footer, article, section, aside, main, nav, menu, figure, figcaption {
  display: block;
}

span, small, strong, em, b, i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}

/* サイト */


body{
    font-family: 'Kaiti SC',sans-serif;}
    
.layout__main{
    padding: 20px;
    background-color:#ffffe0;
   
}

.category{
    color: gray;
}


.menu{
    font-size: 30px;
    color: #8b0000;
    font-weight: bold;
    margin-top: 10px;
    

}
.date{
    text-align: right;
    font-size: 12px;
    display: flex;
    flex-direction: column; 
    color: gray;

}



.image{
    padding: 0px;
    text-align: center;
   color: gray;

}

h1{
    padding: 1rem 2rem;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  margin-top: 50px;
}



.text{
    font-size: 15px;
    
  
    padding: 10px;
    color: #8b0000;
    line-height: 23px;
}

.texttitle{
    margin-top: 10px;
    margin-bottom: 10px;
   
}


.text h1{
    font-size: large;
}
p{
 margin-top:30px;
 margin-bottom: 30px;
}

.wiki{
    padding: 20px;
    background-color: white;
    color: #003300;
    font-size:small;
}



